<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Access Notification</title>
    <style>
    .container{
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .welcome{
        text-align: center;
        font-size: x-large;
    }
    .email_verify{
        font-size: xx-large;
    }
    .username{
        font-size: larger;
        font-family: sans-serif;
    }
    .middle{
        font-size: large;
        font-weight: bold;
    }
</style>
</head>
<body>
<div class="container">
    <p class="welcome">Welcome to Name Flow</p>
    <p class="email_verify">Project Access Notification</p>
    <p class="username" th:text="'Hello'+' '+${userName}+','"></p>
    <p class="middle">Thank you for Creating Account with us,</p>
    <p class="username" th:text="'ACCESS PROVIDER : '+' '+${accessProvider}+','"></p>
    <p class="middle">This person provide You the Access for his project to work with you , You can Respond to this Request by Login to your Account</p>
</div>
</body>
</html>